<div id="content" class="center_place no_bg">
    <div class="categories">
        <%= render 'shared/main_menu' %>
    </div>
    <div class="medical_collection">
        <article>
            <div class="app_info">
                <form action="#">
                    <div class="medic_title">
                        <span><%= @section.title %></span>
                        <input class="buttn" type="image" src="/assets/images/log_wedge.png" alt="^"/>
                    </div>
                    <div class="sort">
                        <span>Сортировать по</span>
                        <div class="styled-select">
                            <select id="price-sort" name="selector">
                                <option value="desc">Цене на убывание</option>
                                <option value="asc">Цене на возрастание</option>
                            </select>
                        </div>
                    </div>
                </form>
                <% if @section.description.present? %>
                    <p><%= @section.description %></p>
                <% end %>
            </div>
        </article>
        <%= render 'products/collection' %>
    </div>
</div>