<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Category</title>
		<link href="css/style.css" type="text/css" rel="stylesheet">
        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
        <![endif]-->
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
        <script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header class="header">
				<div class="head_info center_place">
                    <a href="" class="logo"><img src="images/logo.png" alt="Сила трав"/></a>
                    <div class="contacts">
                        <p>8 (495) 642-22-92</p>
                        <p>+7 (925) 642-22-92</p>
                        <p>Фитолог: +7 (916) 455-62-43</p>
                    </div>
                    <div>
                        <h2>Забота о Вашем здоровье!</h2>
                        <h1>Травы Кубани, Алтая</h1>
                        <h3>Интернет-магазин</h3>
                    </div>
				</div>
			</header>
			<div id="main">
				<div class="navigation center_place">
                    <nav class="main_menu">
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><img src="images/v_string.png" alt=""/><a href="">О нас</a></li>
                            <li><img src="images/v_string.png" alt=""/><a href="">Контакты</a></li>
                        </ul>
                        <form action="#">
                            <input type="text" placeholder="Поиск"/>
                            <input type="submit" value=""/>
                        </form>
                    </nav>
                    <a href="" class="basket"><img src="images/basket2.png" alt=""/>Корзина</a>
				</div>
				<div id="content" class="center_place no_bg">
                    <div class="categories">
                        <div class="container"></div>
                        <ul class="category_list">
                            <li><a href="" class="frst_link">Лечебные сборы</a></li>
                            <li><a href="">Лечебные бальзамы, алфиты</a></li>
                            <li><a href="">Лекарственные травы</a></li>
                            <li><a href="">Диетические продукты</a></li>
                            <li><a href="">Чаи на травах</a></li>
                            <li><a href="">Прочая продукция</a></li>
                        </ul>
                        <div class="price">
                            <a href=""><img src="images/price.png" alt="Прайс"/></a>
                            <a href="">Скачать прайс</a>
                            <a href="">Интересны оптовые закупки?</a>
                        </div>
                    </div>
                    <div class="medical_collection">
                        <article>
                            <div class="app_info">
                                <form action="#">
                                    <div class="medic_title">
                                        <span>Лечебные сборы</span>
                                        <input class="buttn" type="image" src="images/log_wedge.png" alt="^"/>
                                    </div>
                                    <div class="sort">
                                        <span>Сортировать по</span>
                                        <div class="styled-select">
                                            <select name="selector">
                                                <option value="">Цене на убывание</option>
                                                <option value="">Цене на возрастание</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <p>У вас постоянный стресс, депрессия, достали хронические заболевания? Уделите немого времени просмотру сайта и многие ваши проблемы со здоровьем окажутся не такими уж страшными. Лекарственные травы очень часто гораздо лучше самых дорогих лекарств. Отдельные травы и эффективные сборы – рекомендации к применению, состав сборов. Рецепты включают в себя лекарственные растения не признанные в официальной медицине России, но с успехом применяемые многими поколениями травников. Наши родные травы во многих случаях гораздо эффективнее, чем рекламируемые иностранные редкости. Если хоть немного знать о травах, то “сорняк” растущий у вас под ногами, выручит даже в сложной ситуации.</p>
                            </div>
                        </article>
                        <ul class="collection_content">
                            <li>
                                <a href="wares.html" class="product">
                                    <p class="product_name"><span>Девясил высокий корень</span></p>
                                    <img src="images/med_001.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Березовые почки</span></p>
                                    <img src="images/med_002.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>430 р.</strong> / 250 мл.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Валериана лекарственная корень</span></p>
                                    <img src="images/med_003.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Боярышник плоды</span></p>
                                    <img src="images/med_004.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Березовые почки</span></p>
                                    <img src="images/med_005.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>430 р.</strong> / 250 мл.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Адамов корень</span></p>
                                    <img src="images/med_006.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Девясил высокий корень</span></p>
                                    <img src="images/med_001.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Березовые почки</span></p>
                                    <img src="images/med_002.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>430 р.</strong> / 250 мл.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Валериана лекарственная корень</span></p>
                                    <img src="images/med_003.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Девясил высокий корень</span></p>
                                    <img src="images/med_001.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Березовые почки</span></p>
                                    <img src="images/med_002.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>430 р.</strong> / 250 мл.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                            <li>
                                <a href="" class="product">
                                    <p class="product_name"><span>Валериана лекарственная корень</span></p>
                                    <img src="images/med_003.jpg" alt=""/>
                                    <p class="about">Улучшает кровообращение, нормализует пульс, устраняет головные боли, головокружения.</p>
                                </a>
                                <div class="cost">
                                    <span><strong>350 р.</strong> / 100 гр.</span>
                                    <a href=""><img src="images/basket_mini.png" alt=""/></a>
                                </div>
                            </li>
                        </ul>
                    </div>
				</div>
                <div class="center_place our_help">
                    <ul>
                        <li><a href="">Помощь</a></li>
                        <li><img src="images/v_string.png" alt=""/><a href="">Доставка из России за рубеж</a></li>
                    </ul>
                    <div class="s_web">
                        <span>Мы в соцсетях</span>
                        <div>
                            <a href=""><img src="images/ico1.png" alt=""/></a>
                            <a href=""><img src="images/ico2.png" alt=""/></a>
                            <a href=""><img src="images/ico3.png" alt=""/></a>
                            <a href=""><img src="images/ico4.png" alt=""/></a>
                        </div>
                    </div>
                </div>
			</div>
			<footer>
				<div class="bg_footer">
                    <div class="center_place">
                        <span>© 2014 Интернет магазин «Трав Кубани и Алтая» www.LekSbor.ru</span>
                        <a href="">Разработка и создание CanExp</a>
                    </div>
				</div>
			</footer>
		</div>	
	</body>
</html>
