<div id="content" class="center_place">
    <div class="bgcontent"></div>
    <div class="container"></div>
    <ul class="category_list">
        <li><a href="category.html">Лечебные сборы</a></li>
        <li><a href="">Лечебные бальзамы, алфиты</a></li>
        <li><a href="">Лекарственные травы</a></li>
        <li><a href="">Диетические продукты</a></li>
        <li><a href="">Чаи на травах</a></li>
        <li><a href="">Прочая продукция</a></li>
    </ul>
    <div class="price">
        <a href=""><img src="/assets/images/price.png" alt="Прайс"/></a>
        <a href="">Скачать прайс</a>
        <a href="">Интересны оптовые закупки?</a>
    </div>
</div>
<div class="teas">
    <div class="center_place">
        <div class="tea_slider">
            <img class="l_point" src="images/left_point.png" alt=""/>
            <div id="caruselWindow">
                <ul>
                    <li><a href=""><img src="/assets/images/tea01.jpg" alt=""/>Чай с облепихой <br>240 р. / 100 гр.</a></li>
                    <li><a href=""><img src="/assets/images/tea02.jpg" alt=""/>Набор трав «Витаминный» <br>462 руб. / 100 гр.</a></li>
                    <li><a href=""><img src="/assets/images/tea03.jpg" alt=""/>Чай ягодно-травяной <br>320 руб. / 100 гр.</a></li>
                    <li><a href=""><img src="/assets/images/tea04.jpg" alt=""/>Набор трав «Микс 17» <br>438 руб. / 100 гр.</a></li>
                    <li><a href=""><img src="/assets/images/tea05.jpg" alt=""/>Ягодный микс «Витаминный» <br>120 руб. / 100 гр.</a></li>
                    <li><a href=""><img src="/assets/images/tea03.jpg" alt=""/>Чай ягодно-травяной <br>320 руб. / 100 гр.</a></li>
                </ul>
            </div>
            <img class="r_point" src="/assets/images/right_point.png" alt=""/>
        </div>
    </div>
</div>